<div class="container">
    <div class="box">
       
       
        <div class="innerbox">
            <h2 style="width: 140px;color: red;" > Product : </h2><h4 style="font-weight: 400;">{{product.name}}</h4>
        </div>
        <div class="innerbox">
            <h2 style="width: 140px;color: red;"> Price : </h2><h4 style="font-weight: 400;">{{product.price}}</h4> <br>
        </div>
        <div class="innerbox">
            <h2 style="width: 140px;color: red;"> Warranty : </h2><h4 style="font-weight: 400;">{{product.warranty}}</h4> <br>
        </div>
        <div class="desc">
            <h2 style="width: 140px;color: red;">Description </h2> <br>
            <p style="font-weight: 400;">{{product.description}}</p>
        </div>
        
    </div>
</div>